name: "Build plugin darwin-x86_64"

on:
  workflow_dispatch:

jobs:
  build-macos-x86_64:
    name: Build macOS (Intel)
    runs-on: macos-15-intel

    permissions:
      contents: write # IMPORTANT: mandatory for making GitHub Releases

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          override: true

      - name: Install tools
        run: |
          brew install autoconf automake libtool pkg-config cmake nasm yasm meson ninja vapoursynth gnu-sed

      - name: Build plugin
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          cd ${{ github.workspace }}
          export CFLAGS="-mmacosx-version-min=10.11 -mmacos-version-min=10.11"
          export RUSTFLAGS="-C link-arg=-mmacosx-version-min=10.11 -C link-arg=-mmacos-version-min=10.11"
          export MACOSX_DEPLOYMENT_TARGET="10.11"
          export MACOS_DEPLOYMENT_TARGET="10.11"
          python3 -m pip install --break-system-packages pyzstd click
          ./github-build.py '${{ github.repository }}'

      - name: Upload log
        uses: actions/upload-artifact@v4
        with:
          name: buildlog-darwin-x86_64
          path: ${{ github.workspace }}/build.log
          if-no-files-found: error
