name: "Build plugin linux-glibc-x86_64-v3 (Ubuntu 24.04)"

on:
  workflow_dispatch:

jobs:
  build-linux:
    name: Build Linux
    runs-on: ubuntu-24.04

    permissions:
      contents: write # IMPORTANT: mandatory for making GitHub Releases

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: automake autoconf libtool libtool-bin build-essential nasm yasm cmake python3 python3-pip python3-dev pocl-opencl-icd glslc vulkan-tools libvulkan1 mesa-vulkan-drivers
          version: 1.0

      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          override: true
          targets: x86_64-unknown-linux-gnu

      - name: Build plugins
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          cd ~
          gh release list -L 100000 --repo '${{ github.repository }}' | grep -m1 "compiler/linux-x86_64-v3.*" | cut -f3 | xargs -i gh release download {} --repo '${{ github.repository }}' --pattern 'crosstool-ng-compiler-linux-x86_64-v3*'
          tar xzf crosstool-ng-compiler-linux-x86_64-v3.tar.gz
          export PATH="${HOME}/x-tools/x86_64-unknown-linux-gnu/bin:$PATH"
          export SYSROOT="$(x86_64-unknown-linux-gnu-gcc -print-sysroot)"
          export CARGO_TARGET_X86_64_UNKNOWN_LINUX_GNU_LINKER="x86_64-unknown-linux-gnu-gcc"
          export RUSTFLAGS="-C link-arg=--sysroot=${SYSROOT} -C target-cpu=x86-64-v3"
          export CC_x86_64_unknown_linux_gnu="x86_64-unknown-linux-gnu-gcc"
          export CXX_x86_64_unknown_linux_gnu="x86_64-unknown-linux-gnu-g++"
          export AR_x86_64_unknown_linux_gnu="x86_64-unknown-linux-gnu-ar"
          export RANLIB_x86_64_unknown_linux_gnu="x86_64-unknown-linux-gnu-ranlib"
          export CFLAGS_x86_64_unknown_linux_gnu="-fPIC"
          export CXXFLAGS_x86_64_unknown_linux_gnu="-fPIC"
          export CFLAGS="-fPIC"
          export CXXFLAGS="-fPIC"
          export PKG_CONFIG_ALLOW_CROSS=1
          export PKG_CONFIG_ALL_STATIC=1
          pip3 install meson ninja pyzstd click
          cd ${{ github.workspace }}
          gh release list -L 100000 --repo '${{ github.repository }}' | grep -m1 "vapoursynth2404-.*" | cut -f3 | xargs -i gh release download {} --repo '${{ github.repository }}' --pattern 'vapoursynth-build-linux-x86_64*'
          tar xzf vapoursynth-build-linux-x86_64-2404.tar.gz
          export PYTHONPATH=${{ github.workspace }}/workspace/lib/python3.12/site-packages
          ./github-build.py '${{ github.repository }}' linux-glibc-x86_64-v3

      - name: Upload log
        uses: actions/upload-artifact@v4
        with:
          name: buildlog-linux-glibc-x86_64
          path: ${{ github.workspace }}/build.log
          if-no-files-found: error
