name: "Build plugin darwin-aarch64"

on:
  workflow_dispatch:

jobs:
  build-macos-aarch64:
    name: Build macOS (Apple Silicon)
    runs-on: macos-15

    permissions:
      contents: write # IMPORTANT: mandatory for making GitHub Releases

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Install tools
        run: |
          brew install autoconf automake libtool pkg-config cmake nasm yasm meson ninja vapoursynth gnu-sed

      - name: Build plugin
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          cd ${{ github.workspace }}
          export CFLAGS="${CFLAGS} -I/opt/homebrew/include -mmacosx-version-min=11.0 -mmacos-version-min=11.0"
          export CPPFLAGS="${CPPFLAGS} -I/opt/homebrew/include -mmacosx-version-min=11.0 -mmacos-version-min=11.0"
          export MACOSX_DEPLOYMENT_TARGET="11.0"
          export MACOS_DEPLOYMENT_TARGET="11.0"
          python3 -m pip install --break-system-packages pyzstd click
          ./github-build.py '${{ github.repository }}'

      - name: Upload log
        uses: actions/upload-artifact@v4
        with:
          name: buildlog-darwin-aarch64
          path: ${{ github.workspace }}/build.log
          if-no-files-found: error
